<p>create-menu works!</p>

<form [formGroup]="form" (ngSubmit)="handleCreateMenuForm()">
    <div class="form-group">
        <label>Nombre del Menu</label>
        <input type="text" formControlName="name">
    </div>
    <div class="form-group">
        <label>Primer plato</label>
        <input type="text" formControlName="description">
    </div>
    <div class="form-group">
      <label>Segunfo plato</label>
      <input type="text" formControlName="description">
  </div>
  <div class="form-group">
    <label>Postre</label>
    <input type="text" formControlName="description">
</div>
    <div class="form-group">
        <label>Fecha</label>
        <input type="date" formControlName="date">
    </div>
    <div class="form-group">
      <label for="publicar">
        <input type="checkbox" id="publish" formControlName="publish">
        Publicar
      </label>
    </div>

    <input type="submit" value="Enviar">
</form>


