<p>reservations works!</p>

<div class="row">

    @if(token){
    <div class=" col-12">

        <form [formGroup]="form" (ngSubmit)=" handleReservationForm()">
            <div class="row">
      
                    
                    <!--<div class="form-group">
                        <label>Mesa</label>
                        <select formControlName="table">
                            <option *ngFor="let table of tableList" [value]="table.nombre">
                                {{table.nombre}}
                            </option>
                        </select>
                    </div>-->

                        <div class="form-group">
                        <label>Mesa</label>
                        <select formControlName="table">
                            @for(table of tableList; track table){
                                <option [value]="table.nombre">
                                    {{table.nombre}}
                                </option>
                            }    
                        </select>
                    </div>

                    

                    <div class="form-group">
                        <label>Fecha</label>
                        <input class = "form-input" type="date" [min]="dateMin" formControlName="date">
                    </div>
                              
                    <div class="form-group">
                        <label>Hora</label>
                        <select formControlName="time">
                          <option value="comida">Comida</option>
                          <option value="cena">Cena</option>
                        </select>
                    </div>





                    <div class="form-group">
                        <label>Teléfono</label>
                        <input class = "form-input" type="string" formControlName="telefono">
                
                        <!--@if (form.get('email')?.hasError('required') && isSubmitted) {
                            <p class="form-field--text-danger">Debe rellenar este campo</p>   
                        }
                        @if (form.get('email')?.hasError('pattern') && isSubmitted) {
                            <p class="form-field--text-danger">El formato de e-mail no es correcto</p>
                        }
                
                        @if (form.get('email')?.hasError('notExists') && isSubmitted) {
                            <p class="form-field--text-danger">No éxite una cuenta con esta dirección de e-mail</p>
                    }-->
                    </div>
        
                    <div class="form-group">
                        <button class="formButton">añadir reserva</button>
                    </div>

                    <p>Para reserva de grupos de más de 15 personas por favor contacte con nosotros</p>
                    <p>{{tableName}}</p>
                </div>
        </form>

    </div>
    }

    @if(!token){
    <button (click)="handleSummitedLogin()">Ya soy cliente</button>
    <button (click)="handleSummitedRegister()">Registrate</button>

    @if(isSubmittedLogin){  
    <app-login></app-login>
    }

    @if(isSubmittedRegister){
        <app-register></app-register>
    }

}
</div>