<p>login works? </p>
<!-- formulario para realizar el login  -->
<form [formGroup]="form" (ngSubmit)="handleLoginForm()">
  
    <div class="form-group">
        <label>email</label>
        <input type="email" formControlName="email">

        @if (form.get('email')?.hasError('required') && isSubmitted) {
            <p class="form-field--text-danger">Debe rellenar este campo</p>   
        }
        @if (form.get('email')?.hasError('pattern') && isSubmitted) {
            <p class="form-field--text-danger">El formato de e-mail no es correcto</p>
        }

        @if (form.get('email')?.hasError('notExists') && isSubmitted) {
            <p class="form-field--text-danger">No éxite una cuenta con esta dirección de e-mail</p>
        }

    </div>
    <div class="form-group">
        <label>password</label>
        <input type="password" formControlName="password">

        @if (form.get('password')?.hasError('required') && isSubmitted) {
            <p class="form-field--text-danger">Debe rellenar este campo</p>   
        }

        @if (form.get('password')?.hasError('incorrectPassword') && isSubmitted) {
            <p class="form-field--text-danger"> La contraseña ingresada es incorrecta</p>   
        }

    </div>

    <input type="submit" value="Enviar">
</form>
