<section class="reservationSection">
  <div class="header">
    <h2>Lista de Reservas</h2>
    <button class="btn btn-primary">
      <i class="fa-solid fa-filter"></i>
      Para hoy</button>
  </div>
  <div class="reservations-container">

      <div class="reservation-container">
        @for (reservation of reservationsList; track reservation._id) {
          <div class="reservation-card">
            <p><strong>Nombre:</strong> {{ reservation.name }}</p>
            <p><strong>Mesa:</strong> {{ reservation.table }}</p>
            <p><strong>Telefono:</strong> {{ reservation.telefono }}</p>
            <p><strong>Fecha:</strong> {{ reservation.date  | date:'dd/MM/yyyy'}}</p>
            <p><strong>Horario:</strong> {{ reservation.time }}</p>
            <p><strong>Cancelada:</strong> {{ reservation.canceled }}</p>
          </div>
        }
      </div>
  </div>
</section>
