<section class="reservationSection">
  <div class="header">
    <h2>Lista de Reservas</h2>
    <div class="filters">
      <button class="btn btn-primary" (click)="showAllReservations()">
        <i class="fa-solid fa-list"></i>
        <p>Todas</p>
      </button>
      <button class="btn btn-primary" (click)="showTodayReservations()">
        <i class="fa-solid fa-filter"></i>
        <p>Para hoy</p>
      </button>
    </div>
  </div>
  <div class="reservations-container">
    <div class="reservation-container">
      @for (reservation of filteredReservationsList; track reservation.id) {
      <div class="reservation-card">
        <p><strong>Nombre:</strong> {{ reservation.name }}</p>
        <p><strong>Mesa:</strong> {{ reservation.table }}</p>
        <p><strong>Teléfono:</strong> {{ reservation.telefono }}</p>
        <p>
          <strong>Fecha:</strong> {{ reservation.date | date : "dd/MM/yyyy" }}
        </p>
        <p><strong>Horario:</strong> {{ reservation.time }}</p>
        @if (reservation.canceled == false) {
        <p><strong>Cancelada:</strong> No</p>
        } @else {
        <p><strong>Cancelada:</strong> Sí</p>
        }
      </div>
      }
    </div>
  </div>
</section>
