<form [formGroup]="form" (ngSubmit)="handleCreateTable()">
  <div class="form-group">
    <label>Nombre de la mesa</label>
    <input type="text" formControlName="nombre" />
  </div>
  <div class="form-group">
    <label>Capacidad</label>
    <input type="text" formControlName="capacidad" />
  </div>

  <div class="checkbox">
    <label for="isAvailable">
      <input type="checkbox" id="isAvailable" formControlName="isAvailable" />
      Disponible
    </label>
  </div>
  <div class="main-buttons">
    <button type="submit" class="btn-update">Crear Mesa</button>
  </div>
</form>
