.footerSection {
  background-color: #f7f7f7;
  padding: 30px;
  border-top: 1px solid var(--black-primary);
  color: #282826;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}


.footer-contact {
  margin: 15px 0;
  font-size: 1rem;
  color: #282826;
  line-height: 1.5;
}
.line-footer {
  display: flex;
  flex-direction: column;
}
.line-footer.copy {
  gap: 4px;
}

.footer-contact a {
  text-decoration: none;
  color: var(--dark-black);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  padding-left: 4px;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.map-button {
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid var(--black-secondary);
  color: var(--black-secondary);
  font-family: "Raleway";
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  cursor: pointer;
  margin-top: 8px;
  a {
    text-decoration: none !important;
    color: var(--black-secondary);
  }
}
.map-button:hover {
  background-color: var(--green-primary);
  color: var(--black-secondary);
}

.copyright {
  font-size: 0.9rem;
  color: #505050;
  transition: color 0.3s ease-in-out;
}

.copyright:hover {
  color: #ef8686;
}

@media (min-width: 768px) {
  .line-footer {
   flex-direction: row;
    gap: 4px;
  }
}
@media (min-width: 1024px) {
  .line-footer {
   flex-direction: row;
    gap:4px
  }
}
