<footer class="footerSection">

  <div class="footer-contact">
    <span class="line-footer">
      <p><strong>Dirección:</strong> </p>
      <p>Plaça de Catalunya, Barcelona, España</p>
    </span>

    <p><strong>Teléfono:</strong> +34 123 456 789</p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:contacto@crmrestaurant.com">contactocrmrestaurant.com</a>
    </p>
    <span class="line-footer">
      <p><strong>Horario:</strong> </p>
      <p>Lunes a Domingo - 12:00 PM a 11:00 PM</p>

    </span>
    <button class="map-button">
      <a
        href="https://www.google.com/maps?q=Plaça+de+Catalunya,Barcelona"
        target="_blank"
      >
        Ver mapa
      </a>
    </button>
  </div>

  <div class="copyright">
    <span class="line-footer copy">
      <p>&copy; 2025 CRM Restaurant.</p>
      <p>Todos los derechos reservados.</p>
    </span>

  </div>
</footer>
