.reviewsSection {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  padding: 12px 24px;
  border-bottom: 1px solid black;

  h2 {
    font-size: 16px;
  }
  .filters {
    display: flex;
    gap: 10px;
  }
  .filters .btn.btn-primary {
    align-items: center;
    padding: 0.7rem;
    background-color: #e3f982;
    border: 1px solid transparent;
    color: #282826;
    font-family: "Raleway";
    font-size: 0.9rem;
    letter-spacing: 0.9px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 4px;

    p {
      display: none;
    }
  }
  .filters .btn-primary:hover {
    background-color: #e3f982;
    border: 1px solid #282826;
    border-radius: 4px;
  }
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  max-width: 400px;
}

.review-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

.review-card {
  width: 245px;
  background: #c67e57;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.review-card h3 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.review-card p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 5px;
}

.review-card p strong {
  color: #222;
  font-weight: 500;
}

.no-reviews {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .reviews-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 814px;
  }

  .review-card {
    width: 277px;
  }

  .header {
    .filters .btn.btn-primary {
      gap: 8px;
      p {
        display: flex;
      }
    }
  }
}

@media (min-width: 1024px) {
  .reviews-container {
    max-width: -webkit-fill-available;
  }
  .review-card {
    width: 275px;
  }
  .review-container {
    padding: 0px;
  }
  .header {
    .filters .btn.btn-primary {
      gap: 8px;
      p {
        display: flex;
      }
    }
  }
}
