<section class="reviewsSection">
<p>reviews-list works!</p>

  <div class="reviews-container">
    <h2>Lista de Reservas</h2>

    @if (reviewList.length > 0) {
      <div class="reservation-container">
        @for (review of reviewList; track review._id) {
          <div class="review-card">

            <p><strong>Cliente:</strong> {{ review.reviwer }}</p>
            <p><strong>Puntuación:</strong> {{ review.rating }}</p>
            <p><strong>Descripción:</strong> {{ review.description }}</p>

          </div>
        }
      </div>
    } @else {
      <p class="no-reviews">No hay reseñas disponibles</p>
    }
  </div>
</section>



