<section class="homeSection">

  <div class="main-content">
    <div class="rrss">
      <a href="https://facebook.com" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div class="contenedor">
      <span class="line top-left"></span>
      <span class="line top-right"></span>
      <span class="line bottom-left"></span>
      <span class="line bottom-right"></span>
      <div class="content">
        <h1>CODE</h1>
        <img src="home.jpg" alt="restaurant" class="main-image" />
      </div>
    </div>
    <div class="hamburguer">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="main-buttons">
    <button>Reserva</button>
    <button>Ver Menu</button>
  </div>
</section>
