:host {
  width: 100%;
  height: 100vh;
}

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-primary);
  height: 100%;
  padding: 0px 24px;
}

.rrss {
  display: flex;
  flex-direction: column;
  gap: 8px;
  a {
    text-decoration: none;
    i {
      color: var(--green-primary);
      font-size: 16px;
    }
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 24px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 85%;
  height: 40%;
  background-color: var(--black-primary);
  border-right: 1px solid var(--green-primary);
  border-left: 1px solid var(--green-primary);
  margin: 0px;
  max-height: 266px;
}

img {
  max-width: 80%;
}

.line {
  content: "";
  position: absolute;
  z-index: 20;
  height: 1px;
  width: 18%;
  background: repeating-linear-gradient(
    to right,
    var(--green-primary) 0,
    var(--green-primary) 10px,
    transparent 0px,
    transparent 0px
  );
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -9%;

  h1 {
    color: var(--green-primary);
    font-size: 3rem;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
  }
}

.hamburguer {
  color: var(--green-primary);
  font-size: 30px;
  position: relative;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 85vw;
  height: 100vh;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/home.jpg");
  background-color: #777575;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: white;
  display: flex;

}

/* Cuando está abierto */
.menu.active {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

  width: 100%;
}

.menu ul li {
  padding: 16px;
  padding-left: 34px;
}

.menu ul li:first-child {

  padding-left: 34px;
}

.menu ul li a {
  text-decoration: none;
   color: white;
  font-size: 18px;
  display: flex;
  width: 100%;
}

.menu ul li:hover {
background-color: rgba(255, 255, 255, 0.685);
}


@media (min-width: 767px) {
  .timeLine {
    width: 70%;
    margin-top: 10%;
  }

  img {
    max-width: 100%;
  }

  .contenedor {
    width: 70%;
    height: 63%;
    padding: 0px 40px 0px 40px;
    max-height: 492px;
  }

  .main-content {
    height: 100%;
    max-height: 779px;
  }

  .content {
    h1 {
      color: var(--green-primary);
      font-size: 4rem;
      font-weight: 700;
      margin: 0px 0px 20px 0px;
    }
  }

  .hamburguer {
    position: relative;
    font-size: 43px;
  }

  .menu {
    width: 63vw;
  }
  .rrss {
    gap: 20px;
    a{
      i {
        font-size: 26px;
      }
    }
  }

}
@media (min-width: 1024px) {
  .main-content {
    gap: 108px;
    height: 100%;
    margin: 0px;

    .rrss {
      a {
        i {
          font-size: 28px;
        }
      }
    }

  }
  .contenedor {
    max-height: 424px;
    width: 100%;
    height: 66%;
    margin: 0px;
    padding: 0px 80px 80px 80px;


    h1 {
      color: var(--green-primary);
      font-size: 76px;
      letter-spacing: 14px;
      font-weight: 700;
      margin: 0px 0px 20px 0px;
      padding: 0px
    }
  }
  .content {
    top:0;
  }
  .hamburguer {
    font-size: 58px;
  }
  .rrss {
    gap: 37px;
  }
  .menu {
    width: 50vw;
  }
}
