:host {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}

.dayMenuSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  margin: 48px 24px 86px 24px;
}
.title-section {
  color:#282826 ;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border-right: 1px solid #282826;
  border-left: 1px solid #282826;
  padding: 24px 0px;

}

.main-content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 70%;
  background-color: var(--green-primary);
  padding: 0px 24px;

}

.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
  padding: 48px 0px 58px 0px;

  .card-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .card-description {
    font-size: 14px;
   font-style: italic;
    text-align: center;

  }

  .card-price {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
  }
  .card-subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
  }

  .card-plate {
    text-align: center;
    font-size: 14px;
  }
}

.line {
  content: "";
  position: absolute;
  z-index: 20;
  height: 1px;
  width: 18%;
  background: repeating-linear-gradient(
    to right,
    #282826 0,
    #282826 10px,
    transparent 0px,
    transparent 0px
  );
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
.main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 20px 0px 0px 0px;
  padding-bottom: 48px;

  button {
    align-items: center;
    width: 125px;
    padding: 0.7rem;
    background-color: var(--dark-black);
    border: 1px solid var(--dark-black);
    color: var(--green-primary);;
    font-family: "Raleway";
    font-size: 0.9rem;
    letter-spacing: 0.9px;
    cursor: pointer;

    &:hover {
      background-color: var(--green-primary);
      border: 1px solid var(--black-secondary);
      color: var(--black-secondary);


    }
  }
}

@media (min-width: 768px) {
  .timeLine {
    width: 70%;
    margin-top: 10%;
  }

  .contenedor {
    width: 77%;
    height: 50%;
  }

  .main-content {
  }
}

@media (min-width: 1024px) {
  .contenedor {
    width: 40%;
  
  }

  .main-content {
  }
}
