<body>
    <div class="container">
      <div class="images-container">
        <img src="imagenes/imagen1_aboutus.jpg" alt="Imagen 1" class="image">
        <img src="imagenes/imagen2_aboutus.jpg" alt="Imagen 2" class="image">
      </div>
      <div class="about-us">
        <h1>Experiencia Code</h1>
        <p>
          En Code, creemos que comer no es solo una necesidad, es un arte, una experiencia y una celebración de los sabores. Nuestro restaurante nació de la pasión por la alta cocina, donde cada plato cuenta una historia y cada ingrediente es cuidadosamente seleccionado para garantizar la más alta calidad. Nuestro equipo de chefs visionarios combina innovación con tradición, creando menús de temporada que destacan los mejores ingredientes locales e internacionales. Con un ambiente diseñado para evocar elegancia y confort, te invitamos a embarcarte en un viaje culinario que deleitará tus sentidos y dejará una impresión duradera. Bienvenidos a la cima de la gastronomía.
        </p>
      </div>
      <div class="images-container">
        <img src="imagenes/imagen3_aboutus.jpg" alt="Imagen 3" class="image">
        <img src="imagenes/imagen4_aboutus.jpg" alt="Imagen 4" class="image">
      </div>
    </div>
  </body>