<form [formGroup]="form" (ngSubmit)="handleCreateMenuForm()">
  <div class="form-group">
    <label>Nombre del Menú</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <input type="text" formControlName="description" />
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input type="number" formControlName="price" />
  </div>
  <div class="form-group">
    <label>Primeros</label>
    <textarea type="text" formControlName="principalOptionA"></textarea>
    <textarea type="text" formControlName="principalOptionB"></textarea>
    <textarea type="text" formControlName="principalOptionC"></textarea>
  </div>
  <div class="form-group">
    <label>Segundos</label>
    <textarea type="text" formControlName="secondOptionA"></textarea>
    <textarea type="text" formControlName="secondOptionB"></textarea>
    <textarea type="text" formControlName="secondOptionC"></textarea>

  </div>
  <div class="form-group">
    <label>Postres</label>
      <textarea type="text" formControlName="dessertsOptionA"></textarea>
      <textarea type="text" formControlName="dessertsOptionB"></textarea>
      <textarea type="text" formControlName="dessertsOptionC"></textarea>


  </div>
  <div class="form-group">
    <label>Día</label>
    <select formControlName="day">
      <option value="monday">Lunes</option>
      <option value="tuesday">Martes</option>
      <option value="wednesday">Miércoles</option>
      <option value="thursday">Jueves</option>
      <option value="friday">Viernes</option>
      <option value="saturday">Sábado</option>
      <option value="sunday">Domingo</option>
    </select>
  </div>
  <div class="checkbox">
    <label for="publish">
      <input type="checkbox" id="publish" formControlName="isAvailable" />
      Disponible
    </label>
  </div>
  <div class="main-buttons">
    <button type="submit" class="btn-update">Crear Menú</button>
  </div>
</form>
