<form [formGroup]="form" (ngSubmit)="handleCreateMenuForm()">
  <div class="form-group">
    <label>Nombre del Menú</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <input type="text" formControlName="description" />
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input type="number" formControlName="price" />
  </div>
  <div class="form-group">
    <label>Plato principal</label>
    <select formControlName="principal">
      <option value="pollo">Pollo</option>
      <option value="pescado">Pescado</option>
      <option value="vegetariano">Vegetariano</option>
    </select>
  </div>
  <div class="form-group">
    <label>Segundo plato</label>
    <select formControlName="second">
      <option value="arroz">Arroz</option>
      <option value="papas">Papas</option>
      <option value="ensalada">Ensalada</option>
    </select>
  </div>
  <div class="form-group">
    <label>Postre</label>
    <select formControlName="desserts">
      <option value="flan">Flan</option>
      <option value="tarta">Tarta</option>
      <option value="helado">Helado</option>
      <option value="fruta">Fruta</option>
    </select>
  </div>
  <div class="form-group">
    <label>Día</label>
    <select formControlName="day">
      <option value="monday">Lunes</option>
      <option value="tuesday">Martes</option>
      <option value="wednesday">Miércoles</option>
      <option value="thursday">Jueves</option>
      <option value="friday">Viernes</option>
      <option value="saturday">Sábado</option>
      <option value="sunday">Domingo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="publish">
      <input type="checkbox" id="publish" formControlName="isAvailable" />
      Disponible
    </label>
  </div>
  <input type="submit" value="Crear Menú" />
</form>
