<section class="headerSection">
  
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a> 
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <figure class="logo-container">
            <a [routerLink]="('/home')">
            <img src="imagenes/logo_restaurante_grueso.png" alt="Logo de CRM Restaurant" class="logo"/>
        </a>
        </figure>

        <div class="menu-hamburguesa">
            <button class="hamburger-button" (click)="toggleMenu()">☰</button>
        </div>



    <nav class="menu" [hidden]="!menuVisible">
        <ul>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Iniciar Sesion </a></li>
        </ul>
    </nav>
</section>
