<section class="headerSection">
  <header class="header">
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <figure class="logo-container">
      <a [routerLink]="'/home'">
        <img
          src="imagenes/logo_restaurante_grueso.png"
          alt="Logo de CRM Restaurant"
          class="logo"
        />
      </a>
    </figure>

    <div class="menu-hamburguesa">
      <button class="hamburger-button" (click)="toggleMenu()">☰</button>
    </div>
  </header>
  <nav class="menu" [hidden]="!menuVisible">
    <ul>
      <li (click)="closeMenu()"><a [routerLink]="'/about-us'">Experiencia Code</a></li>
      <li (click)="closeMenu()"><a [routerLink]="'/menudeldia'">Menú del día</a></li>
      <li (click)="closeMenu()"><a [routerLink]="'/reservas'">Reserva</a></li>
      <li (click)="closeMenu()"><a [routerLink]="'/auth/login'">Inicia Sesión</a></li>
    </ul>
  </nav>
</section>
