<section class="headerSection">
    <header class="header">
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a> 
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>

        <div class="logo-container">
            <img src="/logo_resturant.png" alt="Logo de CRM Restaurant" class="logo"/>
        </div>

        <div class="menu-hamburguesa">
            <button class="hamburger-button" (click)="toggleMenu()">☰</button>
        </div>
    </header>


    <nav class="menu" [hidden]="!menuVisible">
        <ul>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Reservas</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Iniciar Sesion </a></li>
        </ul>
    </nav>
</section>
