<form [formGroup]="form" (ngSubmit)="handleEditMenuForm()">
  <div class="form-group">
    <label>Nombre del Menú</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <textarea formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input type="number" formControlName="price" />
  </div>
  <div class="form-group">
    <label>Primeros</label>
    <textarea formControlName="principalOptionA"> </textarea>
    <textarea formControlName="principalOptionB"> </textarea>
    <textarea formControlName="principalOptionC"> </textarea>
  </div>
  <div class="form-group">
    <label>Segundos</label>
    <textarea formControlName="secondOptionA"></textarea>
    <textarea formControlName="secondOptionB"></textarea>
    <textarea formControlName="secondOptionC"></textarea>
  </div>
  <div class="form-group">
    <label>Postres</label>
    <textarea formControlName="dessertsOptionA"></textarea>
    <textarea formControlName="dessertsOptionB"></textarea>
    <textarea formControlName="dessertsOptionC"></textarea>
  </div>
  <div class="form-group">
    <label>Día</label>
    <select formControlName="day">
      <option value="monday">Lunes</option>
      <option value="tuesday">Martes</option>
      <option value="wednesday">Miércoles</option>
      <option value="thursday">Jueves</option>
      <option value="friday">Viernes</option>
      <option value="saturday">Sábado</option>
      <option value="sunday">Domingo</option>
    </select>
  </div>
  <div class="checkbox">
    <label for="publish">
      <input type="checkbox" id="publish" formControlName="isAvailable" />
      Disponible
    </label>
  </div>
  <div class="main-buttons">
    <button type="submit" class="btn-update">Actualizar Menú</button>
    <button type="button" class="btn-cancel">Cancelar</button>
  </div>

</form>
