/*:host {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100vh;
    /*display: flex;
    flex-direction: column;  
    display: block;
  }

  
  .app-header, .app-footer {
    width: 100%;
  }
  
  .app-footer {
    display: block;
    position: relative;
    z-index: 10;
 
  }

  .app-footer {
    display: block;
    position: relative;
    z-index: 10;
   
  }*/
  